# {{ ansible_managed }}
---
version: "3.5"

volumes:
  prometheus_data: {}
  grafana_data: {}

networks:
  front-tier:
    name: internet-monitoring-front-tier
  back-tier:
    name: internet-monitoring-back-tier

services:
{% if domain_name_enable %}
  nginx-proxy:
    image: nginxproxy/nginx-proxy
    restart: always
    ports:
      - "80:80"
    networks:
      - back-tier
      - front-tier
    volumes:
      - /var/run/docker.sock:/tmp/docker.sock:ro
{% endif %}

  prometheus:
    dns:
      - 8.8.8.8
      - 8.8.4.4
    image: prom/prometheus:v2.25.2
    restart: always
    volumes:
      - ./prometheus/:/etc/prometheus/
      - prometheus_data:/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--storage.tsdb.retention.time=2y'
      - '--web.enable-admin-api'
      - '--web.console.libraries=/usr/share/prometheus/console_libraries'
      - '--web.console.templates=/usr/share/prometheus/consoles'
    ports:
      - 9090:9090
    links:
      - ping:ping
      - speedtest:speedtest
    networks:
      - back-tier
{% if domain_name_enable and domain_name and domain_prometheus %}
    depends_on:
      - nginx-proxy
    environment:
      - VIRTUAL_HOST={{ domain_prometheus }}.{{ domain_name }}
      - VIRTUAL_PORT=9090
{% endif %}

  alertmanager:
    dns:
      - 8.8.8.8
      - 8.8.4.4
    image: prom/alertmanager:v0.24.0
    restart: always
    ports:
      - "9093:9093"
    depends_on:
      - prometheus
    volumes:
      - ./alertmanager/:/config
      #- alertmanager_data:/data
    command:
      - '--config.file=/config/alertmanager.yml'
      - '--log.level=debug'
    networks:
      - back-tier

  grafana:
    dns:
      - 8.8.8.8
      - 8.8.4.4
    image: grafana/grafana:8.5.10
    restart: always
    volumes:
      - grafana_data:/var/lib/grafana
      - ./grafana/provisioning/:/etc/grafana/provisioning/
    depends_on:
      - prometheus
    ports:
      - 3030:3000
    env_file:
      - ./grafana/config.monitoring
    networks:
      - back-tier
      - front-tier
{% if domain_name_enable and domain_name and domain_grafana %}
    depends_on:
      - nginx-proxy
    environment:
      - VIRTUAL_HOST={{ domain_grafana }}.{{ domain_name }}
      - VIRTUAL_PORT=3000
{% endif %}

  ping:
    dns:
      - 8.8.8.8
      - 8.8.4.4
    tty: true
    stdin_open: true
    expose:
      - 9115
    ports:
      - 9115:9115
    image: prom/blackbox-exporter
    restart: always
    volumes:
      - ./blackbox/config:/config
    command:
      - '--config.file=/config/blackbox.yml'
    networks:
      - back-tier

  speedtest:
    dns:
      - 8.8.8.8
      - 8.8.4.4
    expose:
      - 9798
    ports:
      - 9798:9798
    image: miguelndecarvalho/speedtest-exporter:v3.5.1
    restart: always
    environment:
      - TZ='Africa/Johannesburg'
    networks:
      - back-tier

  shelly:
    dns:
      - 8.8.8.8
      - 8.8.4.4
    expose:
      - 9123
    ports:
      - 9123:9123
    image: madandroid/shelly-prometheus-exporter:0.3.3
    restart: always
    volumes:
      - ./shelly/config.yaml:/app/config.yaml
    networks:
      - back-tier

#  nodeexp:
#    privileged: true
#    container_name: pihole.int.stangl.co.za
#    image: prom/node-exporter
#    volumes:
#      - /proc:/host/proc:ro
#      - /sys:/host/sys:ro
#      - /:/rootfs:ro
#    ports:
#      - 9100:9100
#    restart: always
#    command:
#      - '--path.procfs=/host/proc'
#      - '--path.sysfs=/host/sys'
#      - --collector.filesystem.ignored-mount-points
#      - "^/(sys|proc|dev|host|etc|rootfs/var/lib/docker/containers|rootfs/var/lib/docker/overlay2|rootfs/run/docker/netns|rootfs/var/lib/docker/aufs)($$|/)"
#    networks:
#      - back-tier
