---
global:
  scrape_interval: 15s
  evaluation_interval: 15s
  scrape_timeout: 10s
  external_labels:
    monitor: 'Alertmanager'

rule_files:
  - 'alert.rules'

scrape_configs:
  - job_name: 'prometheus'
    scrape_interval: 5s
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'speedtest'
    metrics_path: /metrics
    scrape_interval: {{ monitoring_speedtest_interval }}
    scrape_timeout: 60s  # running speedtest needs time to complete
    static_configs:
      - targets: ['speedtest:9798']

{% if shelly_enable %}
  - job_name: 'shelly'
    metrics_path: /metrics
    scrape_interval: 1m
    static_configs:
      - targets: ['172.17.0.1:9123']
{% endif %}

{% if airgradient_enable %}
  - job_name: 'airgradient'
    metrics_path: /metrics
    scrape_interval: 30s
    static_configs:
      - targets: ['172.17.0.1:9925']
{% endif %}

{% if starlink_enable %}
  - job_name: 'starlink'
    metrics_path: /metrics
    static_configs:
      - targets: ['172.17.0.1:9817']
{% endif %}

  - job_name: 'ping'
    metrics_path: /probe
    scrape_interval: {{ monitoring_ping_interval }}
    params:
      module: [http_2xx]  # Look for a HTTP 200 response.
    file_sd_configs:
      - files:
          - pinghosts.yaml
    relabel_configs:
      - source_labels: [__address__]
        regex: '(.*);(.*)'  # first is the url, thus unique for instance
        target_label: instance
        replacement: $1
      - source_labels: [__address__]
        regex: '(.*);(.*)'  # second is humanname to use in charts
        target_label: humanname
        replacement: $2
      - source_labels: [instance]
        target_label: __param_target
      - target_label: __address__
        replacement: ping:9115  # The blackbox exporter's real hostname:port.

  - job_name: 'essential-hosts'
    metrics_path: /probe
    scrape_interval: {{ monitoring_ping_interval }}
    params:
      module: [icmp]  # Look for a HTTP 200 response.
    file_sd_configs:
      - files:
          - essential-hosts.yaml
    relabel_configs:
      - source_labels: [__address__]
        regex: '(.*);(.*)'  # first is the url, thus unique for instance
        target_label: instance
        replacement: $1
      - source_labels: [__address__]
        regex: '(.*);(.*)'  # second is humanname to use in charts
        target_label: humanname
        replacement: $2
      - source_labels: [instance]
        target_label: __param_target
      - target_label: __address__
        replacement: ping:9115  # The blackbox exporter's real hostname:port.

  - job_name: 'lab-hosts'
    metrics_path: /probe
    scrape_interval: {{ monitoring_ping_interval }}
    params:
      module: [icmp]  # Look for a HTTP 200 response.
    file_sd_configs:
      - files:
          - lab-hosts.yaml
    relabel_configs:
      - source_labels: [__address__]
        regex: '(.*);(.*)'  # first is the url, thus unique for instance
        target_label: instance
        replacement: $1
      - source_labels: [__address__]
        regex: '(.*);(.*)'  # second is humanname to use in charts
        target_label: humanname
        replacement: $2
      - source_labels: [instance]
        target_label: __param_target
      - target_label: __address__
        replacement: ping:9115  # The blackbox exporter's real hostname:port.

  - job_name: 'hass'
    scrape_interval: 10s
    scheme: https
    metrics_path: /api/prometheus
    tls_config:
      insecure_skip_verify: true
    bearer_token: "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiIyYjNhMzY1N2NiN2Q0ZjhkYTdhM2ZhYzVhZWJkNTY4MCIsImlhdCI6MTYzNTkyMzA2OCwiZXhwIjoxOTUxMjgzMDY4fQ.onoyissJySkVrQVckg8NQfFlNzKgkEVngzaOgRan1cI"
    static_configs:
      - targets:
        - "hass.int.stangl.co.za"