global
        log /dev/halog    local2
        # log /dev/log    local1 notice
        chroot /var/lib/haproxy
        stats socket /run/haproxy/admin.sock mode 660 level admin expose-fd listeners
        stats timeout 30s
        user haproxy
        group haproxy
        daemon

        # Default SSL material locations
        ca-base /etc/ssl/certs
        crt-base /etc/ssl/private

        # See: https://ssl-config.mozilla.org/#server=haproxy&server-version=2.0.3&config=intermediate
        ssl-default-bind-ciphers ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384
        ssl-default-bind-ciphersuites TLS_AES_128_GCM_SHA256:TLS_AES_256_GCM_SHA384:TLS_CHACHA20_POLY1305_SHA256
        ssl-default-bind-options ssl-min-ver TLSv1.2 no-tls-tickets

        #tune.ssl.default-dh-param 2048

defaults
        log     global
        mode    http
        #option  forwardfor
        #option  http-server-close
        option  httplog
        option  dontlognull
	option  dontlog-normal
        timeout connect 5000
        timeout client  50000
        timeout server  50000
        errorfile 400 /etc/haproxy/errors/400.http
        errorfile 403 /etc/haproxy/errors/403.http
        errorfile 408 /etc/haproxy/errors/408.http
        errorfile 500 /etc/haproxy/errors/500.http
        errorfile 502 /etc/haproxy/errors/502.http
        errorfile 503 /etc/haproxy/errors/503.http
        errorfile 504 /etc/haproxy/errors/504.http


frontend k8s-api.int.stangl.co.za
    bind 192.168.88.110:443
    bind 127.0.0.1:443
    mode tcp
    option tcplog

    #mode http
    #option httplog

    timeout client 300000

    #http-request capture req.hdr(Host) len 10
    #http-request capture req.hdr(Cookie) len 20

    #log-format "%[capture.req.hdr(0)] %{+Q}[capture.req.hdr(1)]"

    acl k8s_api hdr(host) -i k8s-api.int.stangl.co.za:443
    use_backend k8s-api.int.stangl.co.za if k8s_api

    default_backend k8s-api.int.stangl.co.za
    #use_backend %[req.hdr(Host),lower]
    #use_backend %[req.hdr(Host),lower,word(1,:)]

frontend stats
    bind *:8404
    stats enable
    stats uri /stats
    stats refresh 10s
    stats admin if LOCALHOST

frontend haproxy
    bind 192.168.88.112:443 ssl crt /etc/ssl/private/int.stangl.co.za.pem
    #bind 192.168.88.110:443 ssl crt /etc/ssl/private/int.stangl.co.za.pem
    http-request add-header X-Forwarded-Proto https

    acl ACL_pihole hdr(host) -i pihole.int.stangl.co.za
    use_backend pihole.int.stangl.co.za if ACL_pihole

    acl ACL_grafana hdr(host) -i grafana.int.stangl.co.za
    use_backend grafana.int.stangl.co.za if ACL_grafana

    acl ACL_netalertx hdr(host) -i netalertx.int.stangl.co.za
    use_backend netalertx.int.stangl.co.za if ACL_netalertx

    acl ACL_files hdr(host) -i files.int.stangl.co.za
    use_backend files.int.stangl.co.za if ACL_files

    acl ACL_solar hdr(host) -i solar.int.stangl.co.za
    use_backend solar.int.stangl.co.za if ACL_solar

    acl ACL_prom hdr(host) -i prometheus.int.stangl.co.za
    use_backend prometheus.int.stangl.co.za if ACL_prom

#    acl ACL_rock hdr(host) -i roon.int.stangl.co.za
#    use_backend rock.int.stangl.co.za if ACL_rock

    #reqadd X-Forwarded-Proto:\ https
    http-request add-header X-Forwarded-Proto https
    use_backend %[req.hdr(Host),lower]


frontend whatsplaying
     #bind			192.168.88.113:443 name <publicip>:443   ssl crt-list /var/etc/haproxy/whatsplaying.crt_list  alpn h2,http/1.1
     bind			192.168.88.113:443 ssl crt /etc/ssl/private/int.stangl.co.za.pem
     mode			http
     acl			whatsplaying	        var(txn.txnhost) -m str -i whatsplaying.int.stangl.co.za
     acl			whatsplaying	        hdr(host) -i whatsplaying.int.stangl.co.za
     acl			whatsplaying-api	var(txn.txnpath) -m beg -i /api
     acl			whatsplaying-root-redir	var(txn.txnpath) -m str -i /

     # other pfsense generated stuff like crt stuff

     http-request set-var(txn.txnhost) hdr(host)
     http-request set-var(txn.txnpath) path
     http-request redirect code 301 prefix display  if  whatsplaying whatsplaying-root-redir
     use_backend roon-display-api_ipvANY  if  whatsplaying whatsplaying-api
     use_backend roon-display_ipvANY  if  whatsplaying !whatsplaying-api

backend grafana.int.stangl.co.za
    balance roundrobin
    server localhost 127.0.0.1:3030 check

backend netalertx.int.stangl.co.za
    balance roundrobin
    server localhost 127.0.0.1:20211 check

backend files.int.stangl.co.za
    balance roundrobin
    server localhost 127.0.0.1:8181 check

backend notify.int.stangl.co.za
    balance roundrobin
    server localhost 127.0.0.1:8088 check

backend pihole.int.stangl.co.za
    balance roundrobin
    #reqirep ^([^\ :]*)\ /(.*)     \1\ /admin/\2
    http-request redirect location /admin/ if { path / }	
    server pihole 127.0.0.1:8080 check

backend prometheus.int.stangl.co.za
    balance roundrobin
    server localhost 127.0.0.1:9090 check

#backend rock.int.stangl.co.za
#    balance roundrobin
#    #option httpchk HEAD /
#    http-request redirect location /display/ if { path / }	
#    server rock 192.168.88.250:9330 maxconn 100 weight 10 cookie rock check

backend solar.int.stangl.co.za
    balance roundrobin
    server solar 192.168.88.149:80 check

backend k8s-api.int.stangl.co.za
    mode tcp
    #option tcplog
    option tcp-check
        timeout server 300000
    balance roundrobin
    default-server inter 10s downinter 5s rise 2 fall 2 slowstart 60s maxconn 250 maxqueue 256 weight 100
        #server apiserver1 k8s-master-01.int.stangl.co.za:6443 check
        #server apiserver2 k8s-master-02.int.stangl.co.za:6443 check
        #server apiserver3 k8s-master-03.int.stangl.co.za:6443 check
        #server apiserver4 k8s-master-04.int.stangl.co.za:6443 check
        #server apiserver5 k8s-master-05.int.stangl.co.za:6443 check
        server apiserver1 192.168.88.121:6443 check
        server apiserver2 192.168.88.122:6443 check
        server apiserver3 192.168.88.123:6443 check
        server apiserver4 192.168.88.124:6443 check
        server apiserver5 192.168.88.125:6443 check

backend roon-display-api_ipvANY
     mode				http
     id					104
     log				global
     http-check				send meth HEAD uri /display
     timeout connect			30000
     timeout server			30000
     retries				3
     load-server-state-from-file	global
     option				httpchk
     server				roon-rock 192.168.88.210:9330 id 103 check inter 1000  

backend roon-display_ipvANY
     mode				http
     id					102
     log				global
     http-check				send meth HEAD uri /display
     timeout connect			30000
     timeout server			30000
     retries				3
     load-server-state-from-file	global
     option				httpchk
     server				local-roon-proxy 127.0.0.1:9330 id 103 check inter 1000
